<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note Table</title>
    {% load static %}
    <style>
        .header {
            background-image:url("{% static 'header.png' %}");
            color: antiquewhite;
            height: 50px;
            padding: 90px;
            text-align: center;
        }
        
        .table-style{
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 0.9em;
            min-width: 400px;
            
        }
        .table-style thead tr{
            background-color: rosybrown;
            color: antiquewhite;
            text-align: center;
            font-weight: bold;
        }
        .table-style th,
        .table-style td{
            padding: 12px 15px;

        }
        .table-style tbody tr{
            border-bottom: 1px solid rosybrown;
        }

        *{
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">

    <ul class="nav justify-content-center" style="background-color:antiquewhite;">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Note Table</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="add-note">Add Note</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="note-list">Note Card</a>
      </li>
    </ul>

  </head>
  <body style="background-color: antiquewhite;">
    <header class="header";> 
        <h1>Note Table</h1>
    </header>
    <center>
      <table class="table-style">
        <thead>
          <tr>
            <th>To</th>
            <th>From</th>
            <th>Title</th>
            <th>Message</th>
          </tr>
        </thead> 
        <!-- EXAMPLE SECTION -->
        {% for var in Note %} 
          <tbody>
            <tr>
              <td>{{var.to}}</td>
              <td>{{var.From}}</td>
              <td>{{var.title}}</td>
              <td>{{var.message}}</td>
            </tr>
          </tbody>
          <!-- END SECTION -->
        {% endfor %}
      </table>
    </center>
  </body>
</html>



