<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Add Note</title>
        <!-- {% load static %} -->
        <style type="text/css">
            *{
                margin : 10 px;
                padding : 10 px;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            }

            .header {
            /* background-image:url("{% static 'header.png' %}"); */
            background-color: rgb(188, 143, 143);
            color: antiquewhite;
            height: 50px;
            padding: 90px;
            text-align: center;
            }
                    
            .submit{
                background-color: rosybrown;
                color: antiquewhite;
                text-align: center;
                font-weight: bold;
            }
        
            .formStyle{
                border-bottom: 1px solid rosybrown;
            }
        
        </style>
      
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">

        <ul class="nav justify-content-center" style="background-color:antiquewhite;">
            <li class="nav-item">
                <a class="nav-link" href="/lab-4/">Note Table</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Add Note</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="note-list">Note Card</a>
            </li>
        </ul>

    </head>
    <body style="background-color: antiquewhite;">
        <h1 class="header">Add a note here!</h1>
        <center>
        <form action = "" method = "POST" >
            {% csrf_token %}
            
            {{form.as_p}} 
        
            <input type="submit" value="Submit" class="submit";>
        </form>
        </center>
    </body>

</html>


