<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Note Card</title>
        <!-- {% load static %} -->
        <style>
            .header {
                /* background-image:url("{% static 'header.png' %}"); */
                background-color: rgb(188, 143, 143);
                color: antiquewhite;
                height: 50px;
                padding: 90px;
                text-align: center;
            }

            *{
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            }
            
  
        </style>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">

        <ul class="nav justify-content-center" style="background-color:antiquewhite;">
            <li class="nav-item" >
                <a class="nav-link" href="/lab-4/">Note Table</a>
            </li>
            <li class="nav-item" >
                <a class="nav-link" href="add-note">Add Note</a>
            </li>
            <li class="nav-item" >
                <a class="nav-link active" aria-current="page" href="#">Note Card</a>
            </li>
        </ul>
    </head>

    <center>
        <body style="background-color: antiquewhite;">
            <h1 class="header">Note Card</h1>
            
            {% for var in Note %} 
            <div class="card" style="width: 50rem; background-color: rosybrown; color: antiquewhite; border-radius: 5px; text-align: left; margin-bottom: 5px;">
                <div class="card-body">
                <h5 class="card-title">Note</h5>
                <p class="card-text">to: {{var.to}}</p>
                <p class="card-text">from: {{var.From}}</p>
                <p class="card-text">title: {{var.title}}</p>
                <p class="card-text">message: {{var.message}}</p>
                </div>
            </div>
            {% endfor %}
        </body>
    </center>
</html>

