<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Lab 2</title>
  </head>
  <body>
    <table border = 1 width= 50 px >
      <tr>
        <th>to</th>
        <th>from</th>
        <th>title</th>
        <th>message</th>
      </tr>
      
      <!-- EXAMPLE SECTION -->
      {% for var in Note %} 
      <tr>
        <td>{{var.to}}</td>
        <td>{{var.From}}</td>
        <td>{{var.title}}</td>
        <td>{{var.message}}</td>
      </tr>
      <!-- END SECTION -->
      {% endfor %}
    </table>
  </body>
</html>
